.container1{
    
    background-image: url("../img/bg-hero.jpg") ;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    color: #fff;
    height: 520pt;
    align-content: center;
    

}

.titulo{
    margin-top: 15%;
    height: 240pt;
    flex-direction: column;
    display: flex;
    justify-content: center;
    
    
    
}


.raleway_Bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 500%;

  

}
